subscription_id     = "e44f9b78-12ae-4908-b217-4e32b069d1ac"
location            = "eastus2"
resource_group_name = "ganzo-golf-rg"
app_name            = "ganzo-golf-app"
db_server_name      = "ganzo-golf-db"
db_name             = "ganzogolf"
db_admin_username   = "ganzoadmin"
db_admin_password   = "ChangeMe123!"
openai_api_key      = "sk-..."
